<div class="apply-page">
  <div class="form" *ngIf="!acceptedConditions">
    <h1>{{title}}</h1>



    <p>If you are planning on presenting a publication directly related to your thesis at a conference,
      you may be eligible for a travel grant. Eligible students include Master’s with thesis option students;
      doctoral students and students enrolled in a “fast-track” program. Consult the relevant section below for more
      details on eligibility criteria.</p>

    <p>Value: Up to $550 </p>
    <p>Deadline: Prior to leaving</p>

    <h2>Objectives</h2>
    <p>The Faculty of Graduate and Postdoctoral Studies (FGPS) recognizes the importance of sharing the research findings of master's with thesis students with the broader scientific community. To this end, the FGPS awards travel grants to these individuals so that they can present the results of their research closely related to the thesis at major conferences. The program also provides an opportunity to exchange with other researchers in one's field.</p>

    <h2>Eligibility</h2>
    <p>Master's with thesis students applying for a conference travel grant must:</p>

    <ul>
      <li>Be registered full time in a thesis program at the time of the conference;</li>
      <li>Present their research at the conference within the first six sessions from their initial registration in the Master's program.</li>
    </ul>

    <h2>Conditions</h2>
    <ul>
    <li>A student can only be awarded one grant through the completion of their program;
      <li>This grant can only be used to cover the cost of transportation (train, plane, bus, taxi, kilometers or other), and at the most economical rate possible. No other travel expenses are eligible;</li>
      <li>The maximum amount awarded varies according to the conference location (see the map);</li>
      <li>Conferences taking place in the Ottawa-Gatineau area are not eligible;</li>
      <li>For students who are not departing from Ottawa to attend the conference (e.g. exchange, internship, mobility, or in cotutelle at a host institution), the maximum amount awarded varies according to the distance travelled from the location of the host institution (see map);</li>
      <li>The publication and presentation must deal with research results obtained during the current program and be related to the thesis;</li>
      <li>The applicant must be the first author (as listed on the official publication or conference documents) and the presenter;</li>
      <li>The applicant must obtain a financial contribution for the trip (a minimum of $100 is required) from their academic unit or supervisor.</li>
    </ul>

    <h2>Deadline</h2>
    <ul>
      <li>All applications must be submitted before the first day (official date ) of the conference. No application will be considered eligible if received at the FGPS after the beginning of the conference. It is recommended to submit the complete application 30 days prior to the conference in order to receive a decision prior to departure.</li>
      <li>Only complete applications will be processed. It is the sole responsibility of the student to ensure that all the required documentation, confirmation of financial contribution, and all signatures are provided with the application. No documentation or approval will be accepted after the application is submitted to the FGPS. Incomplete applications will be rejected.</li>
      <li>Students can submit only one application per publication and per conference. Resubmission of a previously rejected incomplete application is not permitted.</li>
    </ul>

    <h2>Procedure</h2>
    <ul>
    <li>Submit the complete and signed application form and all supporting documents to the FGPS, Hagen Hall, 115 Séraphin-Marion Street (room 107), Ottawa, ON K1N 6N5. You can also submit your application by email by sending clearly scanned documents to grad.awards@uottawa.ca
      <li>Wait for the acceptance or refusal letter from the FGPS (copies will also be sent to the academic unit, the supervisor, Human Resources Service and the GSAED).</li>
      <li>Within 90 days after the end of  the conference, complete the Request for reimbursement of travel expenses form (.xls) and return it, along with original receipts (including boarding passes) and a proof of attendance at the conference, to the FGPS. Include a proof of exchange rates used if appropriate. Claims submitted later than 90 days after the conference will not be processed and the travel grant will be forfeited.</li>
      <li>A cheque will be issued and sent by mail to the applicant. The amount awarded is the lowest between:</li>
    <ul>
      <li>the actual cost of the transportation and;</li>
      <li>the amount appearing on the FGPS' geographic map.</li>
    </ul>
      <li>Supporting documents to be submitted with the application (prior to the conference)</li>
      <li>A complete and signed application form with confirmed financial contribution and a detailed recommendation from the supervisor;</li>
      <li>An abstract of the publication to be presented;</li>
      <li>A formal indication of the list  of authors (cover page of publication or extract from the conference documentation or exchanges with the conference organizers that evidence the relevant publication and the list of authors);</li>
      <li>A written proof that the publication has been accepted for presentation at the conference (issue by the conference organizers);</li>
    </ul>

    <!--<form class="login-form" #formdata = 'ngForm' (ngSubmit) = 'acceptTheConditions()'>-->
      <!--<input type="text" name="name" (ngModel)="name" requred placeholder="Full Name">-->

      <!--<textarea type="text" name="notes" (ngModel)="notes" required placeholder="Notes"></textarea>-->
      <button type="button" (click)="acceptTheConditions()">I read the conditions and I accept them.</button>
    <!--</form>-->
  </div>
</div>


<div class="form" *ngIf="acceptedConditions">
FORM 2

  <form class="login-form" #formdata = 'ngForm' (ngSubmit) = 'acceptTheConditions()'>

    <md-grid-list cols="4" rowHeight="2em" gutterSize="10px" style="padding-bottom: 10px;">
      <md-grid-tile [colspan]="4"><h2>Conference Information</h2></md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">
        Name of Conference
      </md-grid-tile>
      <md-grid-tile [colspan]="3" [rowspan]="1">
        <input type="text" name="conferenceName" placeholder="Name of Conference being attended" ngModel>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" [rowspan]="1">
        Conference Location
      </md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">
        <input type="text" name="conferenceCity" placeholder="City" ngModel>
      </md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">
        <input type="text" name="conferenceProvince" placeholder="Province/State" ngModel>
      </md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">
        <input type="text" name="conferenceCountry" placeholder="Country" ngModel>
      </md-grid-tile>
    </md-grid-list>

    <md-grid-list cols="5" rowHeight="2em" gutterSize="10px">
      <md-grid-tile>
        Conference Duration
      </md-grid-tile>

      <md-grid-tile [colspan]="1" [rowspan]="1">
        From
      </md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1" >
        <input type="date" name="conferenceStartDate" ngModel>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" [rowspan]="1">
        To
      </md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">
        <input type="date" name="conferenceEndDate" ngModel>
      </md-grid-tile>
    </md-grid-list>

    <!--  -->
    <md-grid-list cols="4" rowHeight="2em" gutterSize="10px" style="padding-bottom: 40px">
      <md-grid-tile [colspan]="4"></md-grid-tile>
      <md-grid-tile [colspan]="4"><h2>Presentation Information</h2></md-grid-tile>
      <md-grid-tile [colspan]="1">
        Presentation Name
      </md-grid-tile>
      <md-grid-tile [colspan]="1">
        <input type="text" name="presentationName" placeholder="thunder thunder thundercats!" ngModel>
      </md-grid-tile>

      <md-grid-tile [colspan]="1">
        Presentation Type
      </md-grid-tile>
      <md-grid-tile [colspan]="1">
        <input type="radio" name="presentationType" value="oral" style="padding-right: 15px" ngModel>Oral
        <input type="radio" name="presentationType" value="poster" ngModel>Poster
      </md-grid-tile>

      <md-grid-tile>
        Main Author
      </md-grid-tile>
      <md-grid-tile [colspan]="1">
        <input type="text" name="presentationAuthor" placeholder="Ahmed Abdullah Hassan Mansor Ahmed Ali Ahmed Abdulaziz Ali Al Abdulmohsen" ngModel>
      </md-grid-tile>
      <!--<md-grid-tile [rowspan]="2"></md-grid-tile>-->
      <md-grid-tile>Co-Authors</md-grid-tile>
      <md-grid-tile [colspan]="1">
        <input type="text" name="presentationCoauthors" placeholder="Jane Doe, John Smith, Bruce Lee" ngModel>
      </md-grid-tile>


      <md-grid-tile [colspan]="4"></md-grid-tile>
      <md-grid-tile [colspan]="4"><h2>Estimated Expense</h2></md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">
        Registration Fees
      </md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">
        <input type="number" name="registrationFees" placeholder="0.00" ngModel>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" [rowspan]="1">
        Transportation Fees
      </md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">
        <input type="number" name="transportationnFees" placeholder="0.00" ngModel>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" [rowspan]="1">
        Accommodation Fees
      </md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">
        <input type="number" name="accomodationFees" placeholder="0.00" ngModel>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" [rowspan]="1">
        Food Expenses
      </md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">
        <input type="number" name="foodFees" placeholder="0.00" ngModel>
      </md-grid-tile>
    </md-grid-list>

    <md-grid-list cols="4" rowHeight="2em" gutterSize="10px">
      <md-grid-tile [colspan]="2">
        <button type="button" style="background: red; width: 45%" (click)="cancel()">Cancel</button>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" >
        <button type="button" style="width: 90%" (click)="save(formdata.value)">Save</button>
      </md-grid-tile>
      <md-grid-tile [colspan]="1" >
        <button type="button" style="width: 90%" (click)="submit()">Submit</button>
      </md-grid-tile>

    </md-grid-list>
  </form>
</div>
