<ul class="topnav">
  <li>
    <button (click)="this.router.navigate(['/home'])">Home</button>
  </li>
  <li *ngIf="userService.isAdmin()">
    <button (click)="this.router.navigate(['/add'])">Add User</button>
  </li>
  <li *ngIf="userService.isRequester()">
    <button (click)="this.router.navigate(['/apply'])">Create Application</button>
  </li>
  <li class="right"> <button  (click)="userService.logout()">Log Out</button></li>
</ul>

<ng-container *ngFor="let item of applicationList | async">
<md-card style="background: white;" *ngIf="userService.isSupervisor()">
  <md-card-title-group>
    <!--<img md-card-sm-image src="path/to/img.png">-->
    <md-card-title (click)="this.router.navigate(['/rec'])">{{item.applicationID}}</md-card-title>
    <md-card-subtitle>{{item.presentationName}}</md-card-subtitle>
  </md-card-title-group>
</md-card>
</ng-container>
