
<button md-raised-button (click)="userService.logout()">
  Logout
</button>

<!--<md-grid-list>-->
<!--<md-grid-tile></md-grid-tile>-->
<!--</md-grid-list>-->
<h1 *ngIf="userService.isAdmin()">Admin</h1>
<h1 *ngIf="userService.isSupervisor()">Supervisor</h1>
<h1 *ngIf="userService.isRequester()">Requester</h1>
<button md-raised-button (click)="routeToApply()" *ngIf="userService.isRequester()">Create Application</button>
<button md-raised-button (click)="this.router.navigate(['/add'])" *ngIf="userService.isAdmin()">Create User</button>

<ng-container *ngFor="let item of applicationList | async">
<md-card style="background: white;" *ngIf="userService.isSupervisor()">
  <md-card-title-group>
    <!--<img md-card-sm-image src="path/to/img.png">-->
    <md-card-title (click)="this.router.navigate(['/rec'])">{{item.applicationID}}</md-card-title>
    <md-card-subtitle>{{item.presentationName}}</md-card-subtitle>
  </md-card-title-group>
</md-card>
</ng-container>
