<ul class="topnav">
  <li>
    <a [routerLink]="['/home']">Home</a>
  </li>
  <li *ngIf="userService.isAdmin()">
    <a [routerLink]="['/add']">Add User</a>
  </li>
  <li *ngIf="userService.isRequester()">
    <a [routerLink]="['/apply']">Create Application</a>
  </li>
  <li class="right">
    <a  (click)="userService.logout()">Log Out</a></li>
</ul>

<ng-container *ngFor="let item of applications | async">
<md-card style="background: white;" *ngIf="userService.isSupervisor() && item.supervisorID === userService.getUserId()">
  <md-card-title-group>
    <!--<img md-card-sm-image src="path/to/img.png">-->
    <md-card-title (click)="this.router.navigate(['/rec'])">{{item.applicationID}}</md-card-title>
    <md-card-subtitle>{{item.presentationName}}</md-card-subtitle>
  </md-card-title-group>
</md-card>
</ng-container>
